# Virtual Environment
sum/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
staticfiles/

# Large ML model
fine_tuned_mt5_summarization_model/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
